@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.cdnfonts.com/css/nunito-2');

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.fluid-container {
    height: 100vb;
}

/* contact section start */

.demo-bg {
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

i {
    cursor: pointer;
}

.bg-cover {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("images/bg.jpg");
}

.contact-section {
    background-color: rgba(0, 0, 0, 0.06);
    padding: 16px 0;
    transition: all ease-in-out 0.4s;
}

.contact-section .container {
    display: flex;
    align-items: center;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
}

.contact {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
}

.contact i {
    color: #28ae60;
    margin-right: 16px;
}

@media (max-width: 775px) {
    .contact-section {
        display: none;
    }
}

/* contact section end */

/* navbar start */

.logo {
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.logo-mobile {
    display: none;
    margin-bottom: 16px;
}

.nav-bar .container {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid white;
}

.list {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: auto;
    padding: 0;
    margin-bottom: 0;
}

.item-list {
    list-style: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.item-list:hover {
    text-shadow: 0 0 5px white;
}

.btn {
    border-radius: 3px;
}

.btn-contact:hover {
    background-color: rgba(0, 128, 0, 0.42);
    color: white;
}

.btn-contact {
    background-color: #28ae60;
    color: white;
    font-weight: 600;
    margin-left: auto;
    margin-top: 0;
}

.menu {
    color: white;
    display: none;
    background-color: black;
    gap: 8px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 3px;
    margin-left: auto;
    cursor: pointer;
}

.mobile-container {
    position: absolute;
    z-index: 1;
    display: none !important;
    height: 0;
    padding: 0 !important;
    background-color: gray;
    transition: ease-in-out 0.3s;
}

@media (max-width: 775px) {
    .menu {
        display: flex;
    }

    .list {
        display: none;
    }

    .btn-contact {
        display: none;
    }

    .logo {
        font-size: 24px;
        display: none;
    }

    .logo-mobile {
        display: flex;
        margin-left: 25px;
        margin-top: 25px;
    }

    .mobile-container {
        display: block !important;
        overflow-y: hidden;
    }

    .mobile-container .list {
        color: white;
        gap: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        padding-left: 50px;
        font-weight: 700;
    }

    .nav-bar .container {
        background-color: gray;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

/* navbar end */

/* heading section start */

.heading-section .container {
    padding: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}


.aichawi {
    border: 5px solid darkblue;
    border-radius: 50%;
}

.info {
    flex: 1;
    text-transform: capitalize;
}

.info h1 {
    color: white;
    font-weight: 600;
    font-size: 52px;
}

.info .title {
    color: yellow;
    font-weight: 500;
    font-size: 28px;
}

.btn-cv {
    background-color: darkblue;
    padding: 6px 12px;
    color: white;
    margin-top: 25px;
    text-transform: uppercase;
}

.btn-cv:hover {
    background-color: rgba(0, 0, 139, 0.52);
    color: white;
}

@media (max-width: 775px) {
    .aichawi {
        display: none;
    }
}

/* heading section end */


/* education section start */

.education-section {
    background-color: white;
    height: fit-content;
}

.education-section h1 {
    font-weight: 600;
}

.education-section .container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.schools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.schools div {
    flex: 1;
    height: 350px;
    min-width: 250px;
}

.schools div:nth-child(1) {
    background-image: url("images/monji slim.jpg");
    background-size: cover;
}

.schools div:nth-child(2) {
    background-image: url("images/IIT.webp");
    background-size: cover;
}

.schools .title {
    font-size: 34px;
    color: white;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.51) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.schools div .cover {
    width: 100%;
    height: 0;
    bottom: 0;
    position: absolute;
    background-color: #28ae60;
    transition: ease-in-out 0.3s;
    text-align: center;
    opacity: 0;
}

.schools div .cover span {
    display: none;
}

.schools div:hover .cover {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100;
}

.schools div:hover .cover span {
    display: block;
}

@media (max-width: 1024px) {
    .schools .title {
        font-size: 22px;
    }

    .cover {
        font-size: 22px;
    }
}

/* education section end */

/* skills section start */

.skills-section {
    background-color: white;
    height: fit-content !important;
}

.skills-section .container {
    padding-bottom: 100px;
    padding-top: 100px;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.skills-section img {
    width: 100%;
    height: 100%;
}

.skills-section .container div {
    flex: 1;
    min-width: 250px;
    height: fit-content;
}

.skills-section .container .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 0;
}

.list-skills {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skill {
    list-style: none;
}

.bi-check-circle {
    color: #28ae60;
}

/* skills section end */

/* certification section start */

.certification-section {
    position: relative;
    background-image: url("images/certification.jpg");
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
}

.certification-section .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    bottom: 0;
}

.certification-section h1 {
    padding-top: 100px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}

.certification-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
    height: fit-content;
    position: relative;
    z-index: 2;
}

.certif {
    flex: 1;
    min-width: 350px;
    height: 350px;
    box-shadow: 0 0 0 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: ease-in-out 0.4s;
    font-size: 22px;
    text-align: center;
}

.certif span {
    font-weight: 600;
}

.certif p {
    font-weight: 400;
}

.certif:hover {
    background-color: #28ae60;
}

.image, .about {
    flex: 1;
    min-width: 300px;
    height: 400px;
    color: white;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
}

.image {
    position: relative;
}

.image .cover {
    position: absolute;
    left: 0;
    background-color: rgba(40, 174, 96, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    transition: ease-in-out 0.4s;
}

.btn-git {
    
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    padding: 12px 16px;
    color: white;
    opacity: 0;
    transition: ease-in-out 0.4s;
}

.image:hover .cover {
    width: 100%;
}

.image:hover .btn-git {
    display: block;
    opacity: 100;
}

.image img {
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

/* certification section end */